@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
  --body-background: #ffffff;

  --primary: #DB1F48;
  --primary-hover: var(--primary);

  --secondary: #F5F3F4;
  --secondary-hover: var(--secondary);

  --tertiary: #CDCCCA;
  --tertiary-hover: #b4b3b0;

  --animation-duration: 1.2s;
}

body {
  background: var(--body-background);
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.animated.fadeIn {
  animation-duration: var(--animation-duration);
}

.logo {
  color: var(--secondary);
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  box-sizing: border-box;
  max-width: 210px;
  animation-delay: calc(var(--animation-duration) * 1.1);

  & > svg {
    color: var(--primary);
    width: 100%;
  }

  &:hover > svg {
    color: var(--primary-hover);
  }

  & > span {
    color: var(--tertiary);
    position: absolute;
    text-transform: uppercase;
    font-size: 0.8em;
    width: 50%;
    top: 79%;
    left: 62.5%;
    min-width: 125px;
    line-height: 1.2;
  }
}

.background {
  color: var(--secondary);
  position: relative;
  height: 100vh;
  z-index: 0;

  & > svg {
    position: absolute;
    width: 85vw;

    &:first-child {
      left: -45vw;
      top: -10vw;
    }

    &:last-child {
      width: 120vw;
      right: -75vw;
      top: -105vw;
    }

    @media screen and (max-width: 480px) {
      &:first-child {
        width: 85vh;
      }

      &:last-child {
        display: none;
      }
    }
  }
}

.social {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  font-size: 24px;
  line-height: 1;
  text-align: center;
  animation-delay: calc(var(--animation-duration) * 1.6);

  a {
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    padding: .1em;

    @media screen and (max-width: 480px) {
      padding: .2em;
    }

    &:hover svg {
      color: var(--tertiary-hover);
    }

    &:nth-child(1) svg {
      height: .8em;
    }

    &:nth-child(3) svg {
      height: .8em;
    }
  }

  svg {
    height: 1em;
    color: var(--tertiary);
    transition: .1s linear all;
  }

  .email {
    display: block;
    color: var(--tertiary);
    font-size: .5em;
    transition: .1s linear all;

    &:hover {
      color: var(--tertiary-hover);
    }
  }
}